<% redirect_to_path = params.delete(:redirect_to) || root_path %>

<div class="flex items-center justify-center sm:py-24 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <div class="mt-4 leading-relaxed"><strong>Sign in</strong> to bookmark your favorite talks, create watch lists, mark you speaker page as verified and more to come.</div>
    </div>
    <div class="mt-8 space-y-6">
      <div>
        <%= button_to "/auth/github?redirect_to=#{redirect_to_path}", method: :post, data: {turbo: false}, class: "btn w-full btn-neutral" do %>
          <%= icon "github", size: :sm, class: "mr-2" %>
          Sign in with GitHub
        <% end %>
      </div>

      <% if Rails.env.development? %>
        <div>
          <%= button_to "/auth/developer", method: :post, data: {turbo: false}, class: "btn w-full btn-accent" do %>
            Sign in with OmniAuth (Development)
          <% end %>
        </div>
      <% end %>
      <div class="text-base font-light leading-relaxed"> We collect your email address, name and GitHub handle to create your account. All attributes are encrypted in our database. We do not share your email address with anyone else.</div>
    </div>
  </div>
</div>
