<div class="relative w-full h-full block">
  <%= image_tag talk.thumbnail_xl, class: "w-full h-full object-cover rounded-xl #{talk.thumbnail_classes}" %>

  <div class="absolute inset-0 text-white bg-black/70 flex flex-col gap-3 justify-center items-center text-xl rounded-xl p-6 overflow-y-scroll">
    <span class="text-center text-2xl p-4 rounded-full mb-2 font-bold">
      <%= talk.title %>
    </span>

    <%= render partial: "sections", locals: {talk: talk} %>
  </div>
</div>
