<div class="relative w-full h-full block">
  <%= image_tag talk.thumbnail_xl, class: "w-full h-full object-cover rounded-xl #{talk.thumbnail_classes}" %>

  <div class="absolute inset-0 text-center text-white bg-black/80 flex flex-col gap-3 justify-center items-center font-bold text-xl rounded-xl p-6">
    <span class="bg-black/30 p-4 rounded-full">
      <%= fa("video-slash", size: :lg, class: "fill-white") %>
    </span>

    Unfortunately, this <%= talk.kind.humanize.downcase %> was not recorded.
  </div>
</div>
