<div class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold mb-6">Speaker Leaderboard</h1>

  <div class="mb-6">
    <%= link_to "All Time", leaderboard_path(filter: "all_time"), class: "btn btn-sm #{(@filter == "all_time") ? "btn-primary" : "btn-outline"} mr-2" %>
    <%= link_to "Last 12 Months", leaderboard_path(filter: "last_12_months"), class: "btn btn-sm #{(@filter == "last_12_months") ? "btn-primary" : "btn-outline"}" %>
  </div>

  <div class="overflow-x-auto">
    <table class="table w-full table-pin-rows">
      <thead>
        <tr>
          <th class="text-left">Rank</th>
          <th class="text-left">Name</th>
          <th class="text-left">Talks</th>
        </tr>
      </thead>
      <tbody>
        <% cache [@ranked_speakers, @filter] do %>
          <%= render partial: "leaderboard/speaker", collection: @ranked_speakers, as: :speaker, locals: {filter: @filter} %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
