---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/obie
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ce7c75d1483f1db5733d01bc5a49df6e12c485de6b2f3d5092fba4dfeea62cef"
      Last-Modified:
      - Tue, 03 Dec 2024 18:56:07 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1733600712'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"login":"obie","id":3908,"node_id":"MDQ6VXNlcjM5MDg=","avatar_url":"https://avatars.githubusercontent.com/u/3908?v=4","gravatar_id":"","url":"https://api.github.com/users/obie","html_url":"https://github.com/obie","followers_url":"https://api.github.com/users/obie/followers","following_url":"https://api.github.com/users/obie/following{/other_user}","gists_url":"https://api.github.com/users/obie/gists{/gist_id}","starred_url":"https://api.github.com/users/obie/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/obie/subscriptions","organizations_url":"https://api.github.com/users/obie/orgs","repos_url":"https://api.github.com/users/obie/repos","events_url":"https://api.github.com/users/obie/events{/privacy}","received_events_url":"https://api.github.com/users/obie/received_events","type":"User","user_view_type":"public","site_admin":false,"name":"Obie
        Fernandez","company":"Let The Music Pay, Inc. @letthemusicpay ","blog":"http://obiefernandez.com","location":"Mexico
        City","email":null,"hireable":null,"bio":"Consultant, 30 year veteran of professional
        software development, serial entrepreneur, and best-selling author. Chief
        Scientist at @OlympiaAI ","twitter_username":"obie","public_repos":73,"public_gists":15,"followers":658,"following":32,"created_at":"2008-03-26T16:10:01Z","updated_at":"2024-12-03T18:56:07Z"}'
  recorded_at: Sat, 07 Dec 2024 18:45:12 GMT
- request:
    method: get
    uri: https://api.github.com/users/obie/social_accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e77f23180f06e9e330ed2ec5e65291bb24381c3824dc1a6da12c30bc63956b74"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1733600712'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '[{"provider":"twitter","url":"https://twitter.com/obie"},{"provider":"linkedin","url":"https://www.linkedin.com/in/obiefernandez/"},{"provider":"generic","url":"https://open.spotify.com/artist/4LHIbLatBkqIRlJkviJHbn"}]'
  recorded_at: Sat, 07 Dec 2024 18:45:12 GMT
recorded_with: VCR 6.3.1
