<div class="flex flex-col gap-4">
  <div id="talks" class="grid min-w-full grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gallery">
    <%= render partial: "talks/card",
          collection: watch_list.talks,
          as: :talk,
          locals: {
            favoritable: true,
            user_favorite_talks_ids: watch_list.talks.ids,
            back_to: watch_lists_path,
            back_to_title: watch_list.name
          } %>
  </div>
</div>
