<%= turbo_refreshes_with method: :morph, scroll: :preserve %>

<div class="container flex flex-col w-full gap-4 my-8">
  <div class="flex justify-between items-center">
    <h1 style="view-transition-name: title"><%= @watch_list.name %></h1>
    <%#= link_to "New watch list", new_watch_list_path, class: "btn btn-ghost" %>

  </div>
  <%= turbo_frame_tag "watch_list_talks", target: "_top", src: watch_list_path(@watch_list) do %>
    <%= render partial: "watch_lists/watch_list",
          locals: {watch_list: @watch_list,
                   watched_talks_ids: user_watched_talks_ids} %>
  <% end %>
</div>
