<%= link_to organisation_path(organisation), class: "flex w-full" do %>
  <div class="card border w-full h-full">
    <div class="card-body flex flex-col items-center justify-center">
        <div class="text-xl font-semibold text-center"><%= organisation.name %></div>
        <div><%= pluralize(organisation.events.count, "event") %></div>
    </div>
  </div>
<% end %>
