<div class="container py-8">
  <h1 class="title">Organisations</h1>

  <section class="flex flex-col w-full gap-4 mt-8">
    <div class="grid min-w-full grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 md:[&>:nth-child(4)]:hidden lg:grid-cols-4 lg:[&>:nth-child(4)]:block">
      <%= render partial: "organisations/card", collection: @organisations, as: :organisation %>
    </div>

    <% if @organisations.none? %>
      <p>No events found</p>
    <% end %>
  </section>
</div>
