<div class="container py-8">
  <div class="flex items-start flex-wrap gap-8 sm:flex-nowrap w-full">
    <div class="w-full sm:w-1/3">
      <h1 class="my-8" style="view-transition-name: title"><%= @event.name %></h1>
      <%= render "events/about", organisation: @event.organisation %>
    </div>
    <div class="w-full">
      <div id="schedule" class="min-w-full">
        <%= render partial: "schedule", locals: { event: @event } %>
      </div>
    </div>
  </div>
</div>
