
<div class="w-full items-center" id="<%= dom_id(talk, :card_horizontal) %>" data-talk-horizontal-card>

  <%= link_to talk_path(talk),
        class: "flex aspect-video shrink-0 relative" do %>
    <%= image_tag talk.thumbnail_sm, srcset: ["#{talk.thumbnail_lg} 2x"], id: dom_id(talk), class: "w-full h-auto object-cover", style: "view-transition-name: #{dom_id(talk, :image)}", loading: :lazy %>
  <% end %>
  <%= content_tag :div, talk.title, class: "text-sm line-clamp-2 mt-1" %>
</div>
