<% video_provider ||= nil %>

<%= link_to event, class: "flex flex-col gap-4 hover:bg-gray-200 transition-bg duration-300 ease-in-out p-2 px-4 rounded-lg items-center" do %>
  <div class="flex items-center gap-4">
    <div class="avatar placeholder">
      <div class="w-12 rounded-full bg-primary text-neutral-content">
        <% if event.avatar_image_path.present? %>
          <%= image_tag image_path(event.avatar_image_path) %>
        <% else %>
          <span class="text-lg"><%= event.name.split(" ").map(&:first).join %></span>
        <% end %>
      </div>
    </div>

    <div>
      <div class="text-xs text-gray-500 line-clamp-1">
        <% if video_provider == "scheduled" %>
          Scheduled for
        <% elsif video_provider == "not_recorded" %>
          Held at
        <% else %>
          Recorded at
        <% end %>
      </div>

      <div class="font-semibold text-base line-clamp-1 flex items-center gap-1">
        <span><%= event.name %></span>
      </div>
    </div>
  </div>
<% end %>
