<%# locals: talk: -%>

<% talk.transcript.cues.each do |cue| %>
  <div class="flex gap-2">
    <span class="cursor-pointer" data-action="click->video-player#seekTo" data-video-player-time-param="<%= cue.start_time_in_seconds %>">
      <%= cue.start_time %>
    </span>
    <span><%= cue.text %></span>
  </div>
<% end %>
