<div class="container my-8 w-full gap-4 flex flex-col">
    <h1 class="title">Talks</h1>
    <div id="talks" class="min-w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 gallery">
      <%= render partial: "talks/card", collection: @talks, as: :talk, locals: { from_talk_id: @from_talk_id} %>
    </div>
    <%== pagy_nav(@pagy) %>
</div>
