<% if speaker.github.blank? %>
  <%= link_to edit_speaker_path(speaker), class: "link link-accent link-ghost", data: {turbo_frame: "modal"} do %>
    Help us improve the speaker profile by adding a GitHub handle
  <% end %>
<% else %>
  <%= ui_button url: edit_speaker_path(speaker), kind: :neutral, size: :sm, data: {turbo_frame: "modal"} do %>
    <%= fa :pen, size: :xs %>
    <span>Suggest improvements</span>
  <% end %>
<% end %>
