---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=F75k4Oc6g9Q&key=AIzaSyCe3yTMydyYrEKSS0N0oh9w5y9Rct3g3QU&maxResults=50&part=statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "V60dqYQfDUoSn3bi_kr_AEZP2KU",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "pVbmMiy3eNUSosIwPZ4Fgc5MK2o",
              "id": "F75k4Oc6g9Q",
              "statistics": {
                "viewCount": "13105",
                "likeCount": "371",
                "favoriteCount": "0",
                "commentCount": "31"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Wed, 08 Jan 2025 22:23:33 GMT
recorded_with: VCR 6.3.1
