---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=9LfmrkyP81M&key=AIzaSyCsHNWxDeHnVOjgX3qg-lUNwcM_E8gUREo&maxResults=50&part=statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "loxveJrTQG9IDJQjJDNWVptwhwU",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "qKunn-Fuyq9NejK7nyf1n6Au4wg",
              "id": "9LfmrkyP81M",
              "statistics": {
                "viewCount": "113620",
                "likeCount": "1948",
                "favoriteCount": "0",
                "commentCount": "114"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Mon, 26 Jun 2023 21:12:38 GMT
recorded_with: VCR 6.1.0
