---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=9LfmrkyP81M&key=AIzaSyB7doZTY6XO7KZCsmTG6DyLXHoPaLh9unE&maxResults=50&part=statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#videoListResponse",
          "etag": "YRQvEKtAPOsEY6RnTzfeZzag3CA",
          "items": [
            {
              "kind": "youtube#video",
              "etag": "7LFBx2d93hx9zRCStL1jg7g6_hg",
              "id": "9LfmrkyP81M",
              "statistics": {
                "viewCount": "113586",
                "likeCount": "1947",
                "favoriteCount": "0",
                "commentCount": "114"
              }
            }
          ],
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          }
        }
  recorded_at: Thu, 22 Jun 2023 20:44:10 GMT
recorded_with: VCR 6.1.0
