<%= content_tag :div do %>
  <div aria-live="assertive" class="pointer-events-none inset-0 flex items-end sm:items-start">
    <div class="flex w-full flex-col items-center sm:items-end">
      <div data-controller="transition"
            data-transition-enter-after-value="0"
            data-transition-enter-from-value="translate-y-2 opacity-0 sm:translate-y-0 sm:translate-x-2 h-0"
            data-transition-enter-to-value="translate-y-0 opacity-100 sm:translate-x-0"
            data-transition-leave-after-value="2000"
            class="pointer-events-auto max-w-sm overflow-hidden rounded-lg bg-white text-neutral shadow-lg ring-1 ring-brand-lighter hidden">
        <div class="p-2 sm:p-4">
          <div class="flex items-center gap-3">
            <div class="shrink-0">
              <%= heroicon :check %>
            </div>
            <div class="flex-1 whitespace-normal text-sm">
              <%= text %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
