<%# locals: (talks:, active_talk:, watched_talks_ids:) -%>

<div class="relative group border border-transparent hover:border-gray-200 rounded-xl">
  <div class="flex flex-col gap-2 lg:max-h-[390px] xl:max-h-[480px] 2xl:max-h-[625px] overflow-y-scroll" data-controller="scroll-into-view talks-navigation">
    <%= render partial: "talks/card_horizontal",
          collection: talks,
          as: :talk,
          locals: {compact: true,
                   current_talk: active_talk,
                   turbo_frame: "talk",
                   watched_talks_ids: watched_talks_ids} %>
  </div>
  <div class="absolute bottom-0 left-0 w-full h-36 bg-gradient-to-t from-base-100 to-transparent pointer-events-none group-hover:hidden"></div>
</div>
