<div class="flex flex-col gap-2 pb-4">
  <% if organisation.description.present? %>
    <span>
      <strong>Description:</strong> <%= organisation.description.capitalize %>
    </span>
  <% end %>
  <span>
    <strong>Kind:</strong> <%= organisation.kind.capitalize %>
  </span>
  <span>
    <strong>Frequency:</strong> <%= organisation.frequency.capitalize %>
  </span>
  <span>
    <strong>Website:</strong> <%= link_to organisation.website, organisation.website, target: "_blank" %>
  </span>
</div>
