<%= link_to event_path(event), class: "h-full flex w-full" do %>
  <div class="card shadow-xl w-full">
    <div class="card-body flex flex-col items-center justify-center">
        <div class="text-xl font-semibold text-center"><%= event.name %></div>
        <div class="link"><%= event.talks_count %> talks</div>
    </div>
  </div>
<% end %>
