<%= link_to event_path(event), id: dom_id(event), class: "flex justify-between" do %>
  <div class="flex items-center gap-2">
    <span><%= event.name %></span>
  </div>
  <%= ui_badge(event.talks.count, kind: :secondary, size: :lg) %>
<% end %>
