<%= link_to event_path(event), id: dom_id(event), class: "event flex justify-between items-center" do %>
  <div class="flex items-center gap-2">
    <span class="event-name"><%= event.name %></span>
  </div>
  <%= ui_badge(event.talks_count, kind: :secondary, size: :lg) %>
<% end %>
