<div role="tablist" class="mb-12 tabs tabs-border">
  <%= active_link_to "Talks", event_path(event), class: "tab", active_class: "tab-active", role: "tab" %>
  <%= active_link_to "Speakers", event_speakers_path(event), class: "tab", active_class: "tab-active", role: "tab" %>

  <% if event.schedule.exist? %>
    <%= active_link_to "Schedule", event_schedules_path(event), class: "tab", active_class: "tab-active", role: "tab" %>
  <% end %>

  <% if false %>
    <a role="tab" class="tab">Organizers</a>
    <a role="tab" class="tab">Photos</a>
    <a role="tab" class="tab">Sponsors</a>
  <% end %>
</div>
