<div class="container py-8">
  <h1 class="text-3xl font-bold mb-4">Components</h1>

  <%= render "page/components/buttons" %>
  <%= render "page/components/dropdowns" %>
  <%= render "page/components/modals" %>
  <%= render "page/components/tabs" %>
</div>
