<main class="container">
  <% playlists = Static::Playlist.where.not(featured_background: nil) %>
  <% events = Event.where(slug: playlists.map(&:slug)).order(date: :desc) %>

  <div>
    <% events.each do |event| %>
      <%= render partial: "events/featured", locals: {event: event} %>
    <% end %>
  </div>
</main>
