<div class="container py-8">
  <h1 class="mb-4">Suggestions</h1>
  <div class="flex flex-col gap-4">
    <%= render partial: "admin/suggestions/suggestion", collection: @suggestions, as: :suggestion %>
  </div>
</div>
