<article class="prose">
  <h2>Welcome to RubyEvents.org! 🌟</h2>

  <p>We are thrilled to have you here and appreciate your interest in making this resource the best it can be for the community. If you would like to lend a hand, there are various ways you can contribute.</p>

  <p>This page serves as a friendly starting point for anyone looking to get involved but unsure where to begin. Here are some ways you can help:</p>

  <ul>
    <li>Assist in adding missing GitHub handles to speakers</li>
    <li>Help identify speakers based on conference screenshots</li>
    <li>Contribute by adding last names to speakers</li>
    <li>Attach Slides to talks</li>
    <li>Review the date when the talk was given</li>
    <li>Add location information to conferences</li>
    <li>Add event dates to conferences</li>
    <li>Add data for new conferences</li>
  </ul>
</article>
</div>
