@utility btn {
  @apply fill-current;

  &:not(.btn-sm) {
    height: 2.5rem;
    min-height: 2.5rem;
  }

  /* for the toolbar buttons */
  &.btn-pill {
    @apply btn-rounded btn-outline;
    @apply flex-nowrap whitespace-nowrap;

    /* for the watched button */
    &.active {
      @apply border-primary bg-primary text-primary-content;
    }

    &.btn-sm {
      @apply text-sm font-normal;
    }
  }

  &.btn-secondary {
    @apply whitespace-nowrap border-primary bg-white fill-primary text-primary hover:bg-gray-100 hover:text-primary/90;
  }

  &.btn-neutral {
    @apply bg-white hover:fill-neutral/80 hover:text-neutral/80;
  }
}

@utility btn-rounded {
  @apply btn-outline rounded-full border border-gray-400 bg-white hover:border-gray-500 hover:bg-gray-100 text-base-content hover:text-base-content/80;
}

@utility btn-circle {
  @apply btn-rounded;
  @apply h-10 w-10;
}

@utility btn-pill {
  /* for the toolbar buttons */
  &.btn {
    @apply btn-rounded btn-outline;
    @apply flex-nowrap whitespace-nowrap;

    /* for the watched button */
    &.active {
      @apply border-primary bg-primary text-primary-content;
    }

    &.btn-sm {
      @apply text-sm font-normal;
    }
  }
}

@utility btn-secondary {
  &.btn {
    @apply whitespace-nowrap border-primary bg-white fill-primary text-primary hover:bg-gray-100 hover:text-primary/90;
  }
}

@utility btn-neutral {
  &.btn {
    @apply bg-white hover:fill-neutral/80 hover:text-neutral/80;
  }
}
