@layer components {
  .desktop-menu {
    @apply hidden gap-6 md:flex;

    li,
    title {
      @apply m-0 inline-block;
      div {
        @apply invisible;
      }
      &.active {
        @apply relative;
        & > div {
          view-transition-name: navbar-active;
          @apply visible absolute bottom-0 w-full font-bold;
        }
      }
    }
  }

  .mobile-menu {
    @apply flex md:hidden;
  }
}
