@layer components {
  nav {
    @apply flex justify-between bg-brand px-4 text-white md:px-4 xl:px-8;
  }

  nav ul {
    @apply m-0 flex list-none items-center gap-8 p-0;
  }

  nav li,
  nav title {
    @apply m-0 inline-block py-2;
    div {
      @apply invisible border-b-2 border-solid border-white;
    }
    &.active > div {
      view-transition-name: navbar-active;
      @apply visible;
    }
  }

  title {
    @apply text-2xl font-bold text-white;
  }

  nav a,
  nav [role="link"] {
    @apply m-0 inline-block rounded-none p-0 hover:no-underline focus:no-underline active:no-underline;
    text-decoration: none;
  }

  nav button,
  nav [role="button"] {
    @apply bg-white text-dark hover:no-underline focus:no-underline active:no-underline;
    text-decoration: none;
  }
}
