@layer components {
  .banner-img .v-vlite {
    --vlite-controlsColor: #dc143c;
    --vlite-controlsOpacity: 0.7;
    --vlite-controlBarBackground: linear-gradient(0deg, #000 -50%, #fff);
  }

  .v-playbackRateSelect.v-controlButton {
    color: var(--vlite-controlsColor);
    text-align: center;
  }
}
