<div class="flex items-center gap-2" data-controller="event" data-action="click->event#dispatchEvent" data-event-name-value="spotlight">
  <%= heroicon "magnifying-glass", variant: :outline, class: "size-5" %>
  <div class="sr-only">Search</div>
</div>
