
<label class="input input-bordered input-sm flex items-center gap-2">
  <input type="text" class="grow" placeholder="Search" autocomplete="off" data-controller="event" data-action="click->event#dispatchEvent" data-event-name-value="spotlight">
  <span class="flex items-center gap-1">
    <kbd class="kbd kbd-sm text-base-content">⌘</kbd>
    <kbd class="kbd kbd-sm text-base-content">K</kbd>
  </span>
</label>
