@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "components/form.css";
@import "components/nav.css";
@import "components/pagination.css";
@import "components/transition.css";
@import "components/typography.css";
@import "components/video.css";

@import "vendors/vlitejs";
