
<% content_for :head do %>
  <%= javascript_include_tag "chartkick", "data-turbo-track": "reload", defer: true %>
<% end %>

<div class="container flex flex-col w-full gap-4 my-8">
  <h1 class="text-center mb-8">Open analytics</h1>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
    <%= turbo_frame_tag "daily_visits", src: daily_visits_analytics_dashboards_path, lazy: true %>
    <%= turbo_frame_tag "daily_page_views", src: daily_page_views_analytics_dashboards_path, lazy: true %>
  </div>
</div>
