<%= turbo_frame_tag "speaking_experience" do %>
  <h2 class="text-center mb-4">Years of speaking experience when giving the talk</h2>
  <%= column_chart @speaking_experience, id: :speaking_experience_chart %>
<% end %>
