<%= turbo_frame_tag "yearly_talks" do %>
  <h2 class="text-center mb-4 flex items-center justify-center">
    Yearly talks from Ruby conferences
    <span class="ml-2">
      <%= ui_tooltip "including talks scheduled for the current year and future years" do %>
        <%= fa("question-circle") %>
      <% end %>
    </span>
  </h2>
  <%= column_chart @yearly_talks, id: :yearly_talks_chart %>
<% end %>
