---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/users?page=1&per_page=5&q=Design
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 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
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - read:user, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/search/users?q=Design&per_page=5&page=2>; rel="next",
        <https://api.github.com/search/users?q=Design&per_page=5&page=200>; rel="last"
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1686894148'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Resource:
      - search
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":100172,"incomplete_results":false,"items":[{"login":"designcourse","id":15989197,"node_id":"MDQ6VXNlcjE1OTg5MTk3","avatar_url":"https://avatars.githubusercontent.com/u/15989197?v=4","gravatar_id":"","url":"https://api.github.com/users/designcourse","html_url":"https://github.com/designcourse","followers_url":"https://api.github.com/users/designcourse/followers","following_url":"https://api.github.com/users/designcourse/following{/other_user}","gists_url":"https://api.github.com/users/designcourse/gists{/gist_id}","starred_url":"https://api.github.com/users/designcourse/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/designcourse/subscriptions","organizations_url":"https://api.github.com/users/designcourse/orgs","repos_url":"https://api.github.com/users/designcourse/repos","events_url":"https://api.github.com/users/designcourse/events{/privacy}","received_events_url":"https://api.github.com/users/designcourse/received_events","type":"User","site_admin":false,"score":1.0},{"login":"designatednerd","id":1976498,"node_id":"MDQ6VXNlcjE5NzY0OTg=","avatar_url":"https://avatars.githubusercontent.com/u/1976498?v=4","gravatar_id":"","url":"https://api.github.com/users/designatednerd","html_url":"https://github.com/designatednerd","followers_url":"https://api.github.com/users/designatednerd/followers","following_url":"https://api.github.com/users/designatednerd/following{/other_user}","gists_url":"https://api.github.com/users/designatednerd/gists{/gist_id}","starred_[...]
- request:
    method: get
    uri: https://api.github.com/users/designcourse
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 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
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"52b3e6e5f09010cb14e06d8c08a48abe31201cc752df02e85babaef623aa455c"
      Last-Modified:
      - Fri, 19 May 2023 10:16:03 GMT
      X-Oauth-Scopes:
      - read:user, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4800'
      X-Ratelimit-Reset:
      - '1686895919'
      X-Ratelimit-Used:
      - '200'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"login":"designcourse","id":15989197,"node_id":"MDQ6VXNlcjE1OTg5MTk3","avatar_url":"https://avatars.githubusercontent.com/u/15989197?v=4","gravatar_id":"","url":"https://api.github.com/users/designcourse","html_url":"https://github.com/designcourse","followers_url":"https://api.github.com/users/designcourse/followers","following_url":"https://api.github.com/users/designcourse/following{/other_user}","gists_url":"https://api.github.com/users/designcourse/gists{/gist_id}","starred_url":"https://api.github.com/users/designcourse/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/designcourse/subscriptions","organizations_url":"https://api.github.com/users/designcourse/orgs","repos_url":"https://api.github.com/users/designcourse/repos","events_url":"https://api.github.com/users/designcourse/events{/privacy}","received_events_url":"https://api.github.com/users/designcourse/received_events","type":"User","site_admin":false,"name":null,"company":null,"blog":"","location":null,"email":null,"hireable":null,"bio":null,"twitter_username":null,"public_repos":70,"public_gists":0,"followers":1572,"following":0,"created_at":"2015-11-23T22:11:36Z","updated_at":"2023-05-19T10:16:03Z"}'
  recorded_at: Fri, 16 Jun 2023 05:41:28 GMT
- request:
    method: get
    uri: https://api.github.com/users/designatednerd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 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
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"aa8fc54f4324a9d7be7fe9bd1118b57fff1fa451f43fe91b60e92071b43e6316"
      Last-Modified:
      - Thu, 04 May 2023 23:39:10 GMT[...]
- request:
    method: get
    uri: https://api.github.com/users/blivesta
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 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
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b369140c8ee748d7bd411f676662701ab93ea2d06bb531a4f3bab6c9e6d860af"
      Last-Modified:
      - Mon, 16 Jan 2023 06:45:09 GMT
     [...]
- request:
    method: get
    uri: https://api.github.com/users/designermonkey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 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
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e2a2513ee113b002d643e84ebdbc204b60d40036cc132db92ef62c96f4c97bb5"
      Last-Modified:
      - Tue, 06 Jun 2023 16:46:32 GMT[...]
- request:
    method: get
    uri: https://api.github.com/users/Design-and-Code
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 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
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"52488dc3d531d7181ff17385b007a9376f8f5d3a07b3a597bd3240bf9004ea8c"
      Last-Modified:
      - Wed, 26 Jan 2022 09:41:28 GM[...]
