---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/users?page=1&per_page=5&q=Hampton%20Catlin
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 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
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - read:user, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1686893204'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Resource:
      - search
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":1,"incomplete_results":false,"items":[{"login":"HamptonMakes","id":111,"node_id":"MDQ6VXNlcjExMQ==","avatar_url":"https://avatars.githubusercontent.com/u/111?v=4","gravatar_id":"","url":"https://api.github.com/users/HamptonMakes","html_url":"https://github.com/HamptonMakes","followers_url":"https://api.github.com/users/HamptonMakes/followers","following_url":"https://api.github.com/users/HamptonMakes/following{/other_user}","gists_url":"https://api.github.com/users/HamptonMakes/gists{/gist_id}","starred_url":"https://api.github.com/users/HamptonMakes/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/HamptonMakes/subscriptions","organizations_url":"https://api.github.com/users/HamptonMakes/orgs","repos_url":"https://api.github.com/users/HamptonMakes/repos","events_url":"https://api.github.com/users/HamptonMakes/events{/privacy}","received_events_url":"https://api.github.com/users/HamptonMakes/received_events","type":"User","site_admin":false,"score":1.0}]}'
  recorded_at: Fri, 16 Jun 2023 05:25:44 GMT
- request:
    method: get
    uri: https://api.github.com/users/HamptonMakes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 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
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9f8e9a02eb3a7d0e71ec86e74efd8d99a713c8bad216a816befc365b954a8d3a"
      Last-Modified:
      - Fri, 19 May 2023 20:15:40 GMT
      X-Oauth-Scopes:
      - read:user, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4820'
      X-Ratelimit-Reset:
      - '1686895919'
      X-Ratelimit-Used:
      - '180'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"login":"HamptonMakes","id":111,"node_id":"MDQ6VXNlcjExMQ==","avatar_url":"https://avatars.githubusercontent.com/u/111?v=4","gravatar_id":"","url":"https://api.github.com/users/HamptonMakes","html_url":"https://github.com/HamptonMakes","followers_url":"https://api.github.com/users/HamptonMakes/followers","following_url":"https://api.github.com/users/HamptonMakes/following{/other_user}","gists_url":"https://api.github.com/users/HamptonMakes/gists{/gist_id}","starred_url":"https://api.github.com/users/HamptonMakes/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/HamptonMakes/subscriptions","organizations_url":"https://api.github.com/users/HamptonMakes/orgs","repos_url":"https://api.github.com/users/HamptonMakes/repos","events_url":"https://api.github.com/users/HamptonMakes/events{/privacy}","received_events_url":"https://api.github.com/users/HamptonMakes/received_events","type":"User","site_admin":false,"name":"Hampton
        Lintorn-Catlin","company":"@thriveworks ","blog":"https://tech.lgbt/@hampton","location":"New
        York, NY","email":"hampton@hamptoncatlin.com","hireable":null,"bio":"CTO of
        @thriveworks. Co-creator of Sass CSS and Haml.\r\n","twitter_username":null,"public_repos":71,"public_gists":37,"followers":647,"following":6,"created_at":"2008-01-31T17:03:51Z","updated_at":"2023-05-19T20:15:40Z"}'
  recorded_at: Fri, 16 Jun 2023 05:25:44 GMT
recorded_with: VCR 6.1.0
