<%= link_to speaker_path(speaker), class: "w-48 sm:w-64 flex relative bg-white rounded-xl border h-full" do %>
  <div class="card card-compact w-full pt-6">
    <figure class="flex justify-center">
      <%= image_tag speaker.avatar_url(size: 250),
            alt: "picture profile of #{speaker.name}",
            class: "w-32 h-32 sm:w-40 sm:h-40 rounded-full object-cover",
            loading: "lazy",
            width: 250,
            height: 250 %>
    </figure>
    <div class="card-body items-center text-center pt-4 px-0 justify-center">
      <h3 class="text-xl font-semibold text-slate-700"><%= speaker.name %></h3>
      <div class="text-slate-600"><%= pluralize(speaker.talks_count, "talk") %></div>
    </div>
  </div>
<% end %>
