<%= link_to speaker_path(speaker), class: "flex w-full relative bg-white" do %>
  <div class="card card-compact card-side shadow-sm h-full w-full">
    <figure>
      <%= image_tag speaker.avatar_url(size: 250),
            alt: "picture profile of #{speaker.name}",
            class: "w-40 lg:w-full shrink-0 h-full",
            loading: "lazy",
            width: 250,
            height: 250 %>
    </figure>
    <div class="card-body flex flex-col items-center justify-center">
      <div class="text-xl font-semibold text-center"><%= speaker.name %></div>
      <div>
        <%= pluralize(speaker.talks.count, "talk") %>
      </div>
    </div>
  </div>
<% end %>
