<div class="block lg:flex gap-8 align-center justify-between" id="<%= dom_id(speaker, :header) %>">
  <%= render "speakers/header_content", speaker: speaker %>

  <div class="flex flex-col gap-4 items-start lg:items-center lg:max-w-[250px]">
    <%= render "speakers/actions", speaker: speaker %>
  </div>
</div>
