<div id="<%= dom_id(speaker, :socials) %>">
  <div id="socials" class="flex items-center gap-2">
    <% speaker.social_profiles.excluding_provider(:website).order(:provider).each do |profile| %>
      <%= ui_button url: profile.url, kind: :circle, size: :sm, target: "_blank", class: "hover:bg-#{profile.provider} hover:fill-white border-base-200" do %>
        <%= fab(profile.provider, size: :md) %>
      <% end %>
    <% end %>
  </div>
</div>
