<% content_for :canonical_url, speaker_url(@speaker) %>

<div class="flex flex-col w-full p-4 gap-4">
  <h1 class="w-full text-4xl font-bold whitespace-nowrap"><%= form_title_for_user_kind(user_kind) %></h1>

  <%= render "form", speaker: @speaker %>

  <h2 class="w-full text-4xl font-bold whitespace-nowrap">Social profiles</h2>

  <div id="social-profiles" class="flex flex-col gap-6">
    <% @speaker.social_profiles.each do |social_profile| %>
      <%= render "social_profiles/form", social_profile:, url: social_profile_path(social_profile) %>
    <% end %>

    <% if Current.user %>
      <%= render "shared/new_profile", sociable: @speaker, social_profile: SocialProfile.new %>
    <% end %>
  </div>
</div>
