<h2 class="text-2xl font-bold mb-4">Colors</h2>
<div class="grid grid-cols-4 gap-4 bg-white p-8">
  <div class="bg-primary rounded-sm flex items-center p-4 text-primary-content">Primary</div>
  <div class="bg-secondary rounded-sm flex items-center p-4 text-secondary-content">Secondary</div>
  <div class="bg-success rounded-sm flex items-center p-4 text-success-content">Success</div>
  <div class="bg-accent rounded-sm flex items-center p-4 text-accent-content">Accent</div>

  <div class="bg-base-100 rounded-sm flex items-center p-4">base-100</div>
  <div class="bg-base-200 rounded-sm flex items-center p-4">base-200</div>
  <div class="bg-base-300 rounded-sm flex items-center p-4">base-300</div>
  <div></div>

</div>
