<h2 class="text-2xl font-bold">Tooltips</h2>
<div class="flex flex-col items-start justify-start gap-8 py-8">

  <%= ui_tooltip "basic text in the tooltip" do %>
    <div>text with tooltip</div>
  <% end %>
</div>
